.ProgressBar-container {
    background-color: #a2cbef;
    border-radius: 4px;
    height: 50px;
    overflow: hidden;
    margin: 20px;
    width: 500px;
}

.ProgressBar-progress {
    background-color: #4697e0;
    height: 50px;
}

.ProgressBar-text{
    margin: 0;
    padding: 12px 0 0 12px;
    white-space: nowrap;
    width: fit-content;
}
